<nz-time-picker
	style="width: 50%;"
	[(ngModel)]="startTime"
	[nzPlaceHolder]="111"
	[nzDisabledHours]="disabeldStartHours"
	[nzDisabledMinutes]="disabeldStartMinutes"
	[nzHideDisabledOptions]="true"
	(ngModelChange)="timeChange($event, endTime)"
>
</nz-time-picker>

<nz-time-picker
	style="width: 50%;"
	[(ngModel)]="endTime"
	[nzPlaceHolder]="222"
	[nzDisabledHours]="disabeldEndHours"
	[nzDisabledMinutes]="disabeldEndMinutes"
	[nzHideDisabledOptions]="true"
	(ngModelChange)="timeChange(startTime, $event)"
>
</nz-time-picker>
