<div>
  <h3>
    Inline Editing
    <small>
      <a href="https://github.com/swimlane/ngx-datatable/blob/master/demo/basic/inline.component.ts" target="_blank"> Source </a>
    </small>
  </h3>
  <ngx-datatable
    #mydatatable
    class="material"
    [trackByProp]="'axxx'"
    [headerHeight]="50"
    [limit]="5"
    [columnMode]="'force'"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [rows]="rows"
  >
    <ngx-datatable-column name="Name">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-name'] = true" *ngIf="!editing[rowIndex + '-name']">
          {{ value }}
        </span>
        <input
          autofocus
          (blur)="updateValue($event, 'name', rowIndex)"
          *ngIf="editing[rowIndex + '-name']"
          type="text"
          [value]="value"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Numbers">
      <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
        <span title="Double click to edit" (dblclick)="editing[rowIndex + '-Numbers'] = true" *ngIf="!editing[rowIndex + '-Numbers']">
          {{ value }}
        </span>
        <select
          *ngIf="editing[rowIndex + '-Numbers']"
          (blur)="editing[rowIndex + '-Numbers'] = false"
          (change)="updateValue($event, 'Numbers', rowIndex)"
          [value]="value"
        >
          <option value="{{o}}" *ngFor="let o of row.options">{{o}}</option>
        </select>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Age">
      <ng-template ngx-datatable-cell-template let-value="value"> {{ value }} </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
</div>

<button (click)="add()">+++++++++</button>