<!-- <scm-test-nz-select></scm-test-nz-select> -->
<!-- <scm-edit-demo></scm-edit-demo> -->
<!-- <scm-test-ngx-table-summary></scm-test-ngx-table-summary> -->
<!-- <scm-tree-view></scm-tree-view> -->
<!-- <scm-test-ng-for></scm-test-ng-for>
<br />
<scm-edit-demo></scm-edit-demo> -->
<!-- <scm-creat-template></scm-creat-template> -->
<!-- <scm-on-push [data]="onPushData"></scm-on-push>
<br>
111111111111
<br>
<a (click)="changeInput(1)">改变input值为1</a>
<a (click)="changeInput(2)">改变input值为2</a>
<input type="text" [(ngModel)]="onPushData.input"> -->
<scm-time-range-picker></scm-time-range-picker>

<router-outlet></router-outlet>
<!-- behavior-subjects -->
<!-- <scm-counter></scm-counter>
<scm-counter></scm-counter>
<scm-counter></scm-counter>
<scm-counter></scm-counter> -->
<!-- behavior-subjects -->

<button type="button" [routerLink]="['/extends-upload-comp']">go extends-upload-comp</button>
<button type="button" [routerLink]="['/cdk']">go cdk demo</button>

<section class="mui" cdkDragList>
	<div
		cdkDragBoundary=".mui"
		cdkDrag
		*ngFor="let item of moveData"
		[ngStyle]="{ width: item.width, height: item.height }"
		(cdkDragStarted)="start($event)"
		(cdkDragMoved)="move($event)"
		(cdkDragReleased)="release($event)"
		(cdkDragEnded)="end($event)"
		(cdkDragDropped)="drop($event)"
		(cdkDragEntered)="enter($event)"
		(cdkDragExited)="exit($event)"
	></div>
	<ng-template #cdkDragPlaceholder></ng-template>
</section>


