<scm-extends-zorro-upload #extendsUpload [nzRemoveAction]="'dada'" [nzBeforeUploadReturnValue]="false" [nzFileListOnlyOneItem]="true">
  <ng-template let-fileList="fileList">
    <nz-upload
      [nzMultiple]="true"
      [nzAccept]="'image/*'"
      [nzBeforeUpload]="extendsUpload.nzBeforeUpload"
      [nzShowUploadList]="true"
      [nzFileList]="fileList"
      [nzPreview]="extendsUpload.nzPreview"
      [nzRemove]="extendsUpload.nzRemove"
    >
      <button nz-button type="button">点击上传</button>
    </nz-upload>
  </ng-template>
</scm-extends-zorro-upload>
