<div class="scm-tree" style="width: 400px; margin-left: 10px;">
  <section class="container">
    <scm-tree-node></scm-tree-node>
    <div class="branch">
      <section class="container">
        <scm-tree-node></scm-tree-node>
        <section class="branch">
          <section class="container"><scm-tree-node></scm-tree-node></section>
          <section class="container"><scm-tree-node></scm-tree-node></section>
          <section class="container"><scm-tree-node></scm-tree-node></section>
        </section>
      </section>
      <section class="container"><scm-tree-node></scm-tree-node></section>
      <section class="container"><scm-tree-node></scm-tree-node></section>
    </div>
  </section>
</div>
