<div class="test" style="width: 400px; margin-left: 10px;">
  <section class="branch">
    <div class="node">
      <div class="line">
        <div></div>
        <div></div>
      </div>
      <div class="real"><div class="content">11</div></div>
    </div>
    <div class="node">
      <div class="line">
        <div></div>
        <div></div>
      </div>
      <div class="real"><div class="content">22</div></div>
    </div>
    <div class="node">
      <div class="line">
        <div></div>
        <div></div>
      </div>
      <div class="real"><div class="content">33</div></div>
    </div>
  </section>
</div>
