.drag {
	display: flex;
}

.drag-container {
	background: #000;
	height: 200px;
	overflow: auto;
  border: 1px solid red;
  min-width: 100px;
	li {
		border: 1px solid #000;
		width: 100px;
		height: 50px;
		background: #fff;
	}
}
